# Gradle
.gradle/
build/
out/

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.code-workspace

# Fabric / Minecraft
run/
logs/
crash-reports/
debug/
remappedSrc/

# OS
.DS_Store
Thumbs.db

# Java
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
hs_err_pid*
